body {
    margin: 0;
    overflow: hidden;
    background-image: url('matrix.jpeg');
}

.instruction-container1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 2vw;
}

.password-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 20px;
}

.submit-button {
    width: 40vw;
    height: 5vh;
    margin-top: 10px;
    font-size: 1.5vw;
    color: white;
    background-color: green;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

#passwordInput {
    width: 70vw;
    height: 6vh;
    font-size: 1.5vw;
    border-radius: 15px;
    border: 2px solid #ccc;
    margin-top: 10px;
}

.return-button {
    position: absolute;
    top: 80%;
    right: 5%;
    transform: translateY(-50%);
    padding: 2vh 4vw;
    font-size: 1.5vw;
    background-color: green;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}