body {
    margin: 0;
    overflow: hidden;
    background-image: url('matrix.jpeg');
}

.point-counter {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
}

.general-box {

    flex-direction: column;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

.scrollable-box {
    width: 90%;
    max-width: 500px;
    height: 60vh;
    overflow-y: scroll;
    border: 2px solid #ccc;
    padding: 10px;
    margin: 20px;
    text-align: center;
    color: white;
    background-color: green;

}

.checkbox {
    display: flex;
    margin-top: 10px;
    position: relative;
    color: white;

}

.return-button {
    position: absolute;
    top: 80%;
    right: 5%;
    transform: translateY(-50%);
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: green;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.submit-button {
    width: 100px;
    height: 40px;
    margin-top: 10px;
    font-size: 16px;
    color: white;
    background-color: green;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.instruction-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 25px;
}