body {
    margin: 0;
    overflow: hidden;
    background-image: url('matrix.jpeg');
}

.toggle-switch {
    display: none;
}

.toggle-switch+.slider {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.toggle-switch:checked+.slider {
    background-color: #007BFF;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle-switch:checked+.slider:before {
    transform: translateX(26px);
}

.cookie-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.submit-button2,
.return-button {
    width: 40vw;
    height: 5vh;
    margin-top: 10px;
    font-size: 1.5vw;
    color: white;
    background-color: green;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.return-button {
    right: 5%;
    top: 80%;
    transform: translateY(-50%);
}