.instruction-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 50px;
}

body {
    margin: 0;
    overflow: hidden;
    background-image: url('matrix.jpeg');
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    height: 80vh;
    cursor: pointer;

}

.image-container img {
    width: 10vw;
    height: 10vw;
    margin: 0 2%;
    border: 2vw solid white;
    border-radius: 2vw;
}

.return-button {
    position: absolute;
    top: 80%;
    right: 5%;
    transform: translateY(-50%);
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: green;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}