body {
    margin: 0;
    overflow: hidden;
    background-image: url('matrix.jpeg');
    font-family: 'VT323', monospace;
}

.instruction-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-size: 25px;
}


.point-counter {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    height: 80vh;
    cursor: pointer;

}

.image-container img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    border: 5px solid white;
    border-radius: 10px;
}

.return-button {
    position: absolute;
    top: 92%;
    right: 5%;
    transform: translateY(-50%);
    padding: 10px 20px;
    font-family: 'VT323', monospace;
    font-size: 16px;
    color: white;
    background-color: green;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}